# ---- .NET ----
bin/
obj/
*.user
*.suo
.vs/
artifacts/
TestResults/
coverage*.xml
*.received.*

# ---- Node / Next.js ----
node_modules/
.next/
out/
.turbo/
*.tsbuildinfo
coverage/
.vercel

# ---- Terraform ----
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!example.tfvars
.terraform.lock.hcl

# ---- Entorno ----
.env
.env.local
.env.*.local
!.env.example

# ---- SO / editores ----
.DS_Store
Thumbs.db
*.swp
.idea/
